/*
Color scheme:
Dark red: B31264
Gold: FFE419
Pink: FF0082
Blue: 00E1FF
Dark blue: 099FB3
*/

body {
    margin: 0 auto;
    /* background-color: #f1f0ef; */
    font-family:Arial, Helvetica, sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("./images/omahack-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.2em;
    font-weight: regular;
}

a {
    color: #e9235e;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FFE419;
}

a:visited {
    color: #ce008e;
}

header {
    text-align: center;
    /* position: fixed; */
    width: 100%;
    /* background-color: #fff; */
    height: 2.8rem;
    margin: 2rem 0;
}

.logo {
    font-size: 6em;
    font-weight: 900;
    -webkit-text-stroke: 4px #000;
    text-transform: uppercase;
    animation: shadow-animate 4s infinite;
    font-style: italic;
}

@keyframes shadow-animate {
    0% {
        text-shadow: 0px 1px 2px #fff;
    }

    50% {
        text-shadow: 12px 1px 2px #fff;
    }

    100% {
        text-shadow: 0px 1px 2px #fff;
    }
}

.logo-oma {
    color: #00E1FF;
}

.logo-ha {
    color: #FF0082;
    animation: logo-animate 4s infinite;
}

.logo-ck {
    color: #FF0082;
}

@keyframes logo-animate {
    0% {
        color: #FF0082;
        text-shadow: 0px 1px 2px #fff;
    }

    50% {
        color: #00E1FF;
        text-shadow: 12px 1px 2px #fff;
    }

    100% {
        color: #FF0082;
        text-shadow: 0px 1px 2px #fff;
    }
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.1em;
}

div.content {
    margin: 1em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.9);
    border: 1em solid #fff;
}

.splash-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.splash-column {
    flex: 33.33%;
    text-align: center;
}

.splash-icon {
    font-size: 32px;
    align-items: center;
}

.splash-column h1 {
    font-size: 2em;
}

.splash-single {
    text-align: center;
}

